<%- include("partials/header.ejs")%>
<form class="m-auto w-25 mt-5" action="/changepass/<%= id%>" method="post">

   <h1 class="mb-4">Change password</h1>
      
   <input required class="form-control mb-3" type="password" placeholder="enter password" name="password"> 
   <button class="btn btn-primary w-23">Sign-In</button>
</form>
 <%- include("partials/footer.ejs")%>


